<!-- FOOTER -->
<style>
  .footer {
    text-align: center;
    width: 100%;
    margin: auto;
    padding: 50px 0;
    background: #191919;
  }
</style>

<gupw-footer class="ng-isolate-scope">
  <footer class="footer">
    <img src="/images/footer/logo-doi-tac.png" alt="">
  </footer>
</gupw-footer>


</gupw-sample-layout>
</ui-view>
</gupw-app>
</ui-view>
</div>

<!-- Application Script -->
<script src="/core/js/app.js"></script>

<!--Start of Tawk.to Script-->
<script type="text/javascript">
  // var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
  // (function () {
  //     var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
  //     s1.async = true;
  //     s1.src = 'https://embed.tawk.to/64ffc0e7b1aaa13b7a764f1c/1hcona2d3';
  //     s1.charset = 'UTF-8';
  //     s1.setAttribute('crossorigin', '*');
  //     s0.parentNode.insertBefore(s1, s0);
  // })();
</script>
<!--End of Tawk.to Script-->


</body>

</html>